.ChooseImages {
    width: 100%;
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background: #ffffffbd;
    gap: 10px;

    div{
        width: 100%;
        height: 100%;
    }
}

img{
    width: 100%;
    height: 100%;
}
